.main-content {
	background-image: url('bg-login.jpg') !important;
	background-size: cover !important;
	background-repeat: no-repeat;
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-bottom-200 {
	margin-bottom: 200px;
	overflow: auto;
}

.clear {
	clear: both;
}

.login-form {
	background: white; 
	display: inline-block;
	padding: 30px 80px;
	border-radius: 5px;
	margin-bottom: 60px;
}
